.ReactVirtualized__Grid {
  outline: none !important;
}

.rstcustom__highlight {
  background: none !important;
}

.rstcustom__node {
  height: 62px !important;
}

.rstcustom__nodeContent {
  width: 100%;
}
